<div>
  <mat-card>
    <mat-card-title>
      Registro de venta de productos
    </mat-card-title>
    <mat-card-content>
      <div class="form-content" [formGroup]="formProductoxTienda">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Producto</mat-label>
            <mat-select matInput formControlName="idProducto">
              <mat-option *ngFor="let type of productos" [value]="type.idProducto">{{type.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Tienda</mat-label>
            <mat-select matInput formControlName="codigoTienda">
              <mat-option *ngFor="let type of tiendas" [value]="type.codigoTienda">{{type.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Llegada</mat-label>
            <input matInput  formControlName="fechaLlegadaAlmacen" type="date" id="start" name="trip-start"
                   value="2022-10-02"
                   min="1900-01-01" max="2022-10-31">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Demanda</mat-label>
            <input matInput formControlName="demanda">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Cantidad comprada</mat-label>
            <input matInput formControlName="cantidadComprada">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput formControlName="stock">
          </mat-form-field>
        </p>
        <button mat-raised-button (click)="agregar()" [disabled]="formProductoxTienda.invalid">Agregar</button>
        <button mat-raised-button (click)="cancelar()"> Cancelar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
