<div>
  <mat-card>
    <mat-card-title>
      Registrar Nueva Tienda
    </mat-card-title>
    <mat-card-content>
      <div class="form-content" [formGroup]="formTienda">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Nombre de la tienda</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Objetivo</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" formControlName="objetivo">
            <span matPrefix>S/.&nbsp;</span>
          </mat-form-field>
        </p>

        <button mat-raised-button (click)="agregar()" [disabled]="formTienda.invalid">Agregar</button>
        <button mat-raised-button (click)="cancelar()"> Cancelar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
